VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=dr123-efedd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dr123-efedd
VITE_FIREBASE_STORAGE_BUCKET=dr123-efedd.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
VITE_FIREBASE_APP_ID=your-app-id
